.linkSign{
  text-decoration: none;
}

.main{
  border: 2px solid white;
  padding: 20px;
  border-radius: 25px;
  margin-top: 150px;
  width: 400px;
}


.loginput{
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid #0D6EFD;
  height: 35px;
}

.logbutton{
  border-radius: 20px;
}
